
.modal-alert.modal.fade
    div.dialog
        div.content
            div.modal-header
                button.close(data-dismiss='modal') x
                h3 hide?
            div.modal-body
                p where are you
            div.modal-footer
                button(data-dismiss="modal")#ok.btn.btn-warning OK