li.dropdown
    a.dropdown-toggle(href="#",data-toggle="dropdown")
        b Login
        span.caret
    ul.dropdown-menu#login-dropdown
        li
            div.row
                div.col-md-12
                    form(method="post", role= "form", accept-charset = "UTF-8")#login-nav.form
                        div.form-group
                            label.sr-only(for = "exampleInputEmail2") Email Address
                            input#exampleInputEmail2.form-control(type='email', name='email', placeholder="Email address" required)
                        div.form-group
                            label.sr-only(for = "exampleInputPassword2") Password
                            input#exampleInputPassword2.form-control(type='password', name='passwd', placeholder="Password" required)
                            div.help-block.text-right
                                a(href="/") Forget the password ?
                        div.form-buttons
                            button.btn.btn-primary.btn-block(type="submit") Sign In
                        div.checkbox
                            label
                                input(type="checkbox")
                                p keep me logged in
                div.bottom.text-center New here?
                    a(href="/SignUp")
                        b Join Us
