extends layout

block content
  .navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        a.navbar-brand SHELVES
          h6 Coriant Lab Management
        div(ng-include="'/partials/account/navbar-login'")

  h1= title
  p Welcome to #{title}